{% extends 'base.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block content %}

{% if user.is_authenticated %}



    <!----- Search Daneshkade --->

    <div class="col-md-4 mx-auto mb-5">
        <form action="" method="POST" id="search_form" dir="rtl" class="my-2">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" name="search_query" placeholder="جست و جو در دانشکده">
            </div>
            <div class="bg-light pt-2 pb-1 pr-3 pl-3 rounded mb-3">
                <div class="form-group form-check">
                    <input  name="department" type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label text-dark mr-4" for="exampleCheck1">بر اساس دانشکده</label>
                </div>
                <div class="form-group form-check">
                    <input name="teacher" type="checkbox" class="form-check-input" id="exampleCheck2">
                    <label class="form-check-label text-dark mr-4" for="exampleCheck1">بر اساس استاد</label>
                </div>

                <div class="form-group form-check">
                    <input name="course" type="checkbox" class="form-check-input" id="exampleCheck3">
                    <label class="form-check-label text-dark mr-4" for="exampleCheck1">بر اساس درس</label>
                </div>
            </div>

            <div class="input-group-append d-inline d-flex">
                <button type="submit" name="submit" class="btn btn-success ml-auto " style="width: 90px"><i class="fa fa-search"></i></button>
            </div>

        </form>
    </div>

    <div id="search_result" dir="rtl" class="bg-light card p-3 mt-4 mb-4">
    <h5 class="mb-4 text-primary text-center">
        <i class="fa fa-search"></i>
        نتایج جست و جو</h5>
    {% for post in search_list %}
        <div class="{{ post.course_number }}_{{ post.group_number }}">
        <h6 class="meta mb-3"><i class="fa fa-sticky-note text-dark"></i>
 درس:
            {{ post.name }}</h6>
        <h6 class="meta"><i class="fa fa-user-secret text-dark"></i>
 استاد:
            {{ post.teacher }}</h6>
        </div>
        <hr class="w-100 bg-dark">
    {% endfor %}
    </div>

<div class="container mt-5" id="all_courses">
    <!----- End Search Daneshkade --->
    <div class="row">
        {% for course in courses %}
        <div class="col-md-6 mb-3 {{course.course_number}}_{{course.group_number}}" dir="rtl">
            <a href="/add/{{ course.id }}">add</a>
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    <h4>{{ course.name }}</h4>
                </div>
                <div class="card-body">
                    <div class="btn btn-light bg-secondary text-white pb-2 mb-2 mr-1" dir="rtl">
                        <i class="fa fa-home"></i>
                        {{course.department}}
                    </div>

                    <div class="btn btn-light bg-secondary text-white pb-2 mb-2 mr-1" dir="rtl">
                        <i class="fa fa-calendar"></i>

                        {{course.first_day}} و {{ course.second_day }}
                    </div>

                    <div class="btn btn-light bg-secondary text-white pb-2 mb-2 mr-1" dir="rtl">
                        <i class="fa fa-clock-o"></i>
                        {% if course.first_day == 0 %}

                        {% endif %}
                        {{course.end_time}} تا {{ course.start_time }}
                    </div>

                    <div class="btn btn-light bg-secondary text-white pb-2 mb-2 mr-1" dir="rtl">
                        <i class="fa fa-user-secret"></i>
                        {{course.teacher}}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

    <div class="my_courses">
    {% for courses in user_course %}
        <div class="col-md-6 mb-3 {{course.course_number}}_{{course.group_number}}" dir="rtl">

            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    <h4>{{ course.name }}</h4>
                </div>
                <div class="card-body">
                    <div class="btn btn-light bg-secondary text-white pb-2 mb-2 mr-1" dir="rtl">
                        <i class="fa fa-home"></i>
                        {{course.department}}
                    </div>

                    <div class="btn btn-light bg-secondary text-white pb-2 mb-2 mr-1" dir="rtl">
                        <i class="fa fa-calendar"></i>

                        {{course.first_day}} و {{ course.second_day }}
                    </div>

                    <div class="btn btn-light bg-secondary text-white pb-2 mb-2 mr-1" dir="rtl">
                        <i class="fa fa-clock-o"></i>
                        {% if course.first_day == 0 %}

                        {% endif %}
                        {{course.end_time}} تا {{ course.start_time }}
                    </div>

                    <div class="btn btn-light bg-secondary text-white pb-2 mb-2 mr-1" dir="rtl">
                        <i class="fa fa-user-secret"></i>
                        {{course.teacher}}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    </div>
{% else %}
<div class="container mt-5">
    <div class="alert alert-warning text-center" role="alert">
        login first !!
    </div>
</div>
{% endif %}
</body>
</html>
{% endblock %}