{% extends 'base.html' %}
{% block content %}
    <style>
    body,html {
        background: url("https://images.squarespace-cdn.com/content/v1/556c2545e4b056fbbd359e12/1559620427280-T8L40OAO7YPT1LZHYAXA/ke17ZwdGBToddI8pDm48kNvT88LknE-K9M4pGNO0Iqd7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1USOFn4xF8vTWDNAUBm5ducQhX-V3oVjSmr829Rco4W2Uo49ZdOtO_QXox0_W7i2zEA/bcgrnd.jpeg?format=2500w");
    }
    .my-alert{
        font-weight: 600 !important;
        color: #0b2e13;
        }
    </style>
 <div class="alert alert-light text-right mt-4 w-50 mx-auto text-center my-alert" role="alert" dir="rtl">
        سلام. به سامانه‌ی انتخاب واحد مجازی خوش آمدید.

 </div>
{% endblock %}

</body>
</html>