{% extends 'base.html' %}
{% load static %}
{% block link %}
	<link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

{% endblock %}
{% block content %}

{% if user.is_authenticated %}
    <style>
    .form-control:focus{
        border-color: #2e3133;
        box-shadow: 1px 1px 1px  #2e3133 !important;
    }
    </style>
    <div class="container mb-2 mt-5">
    {% if error_time %}
        <div class="container">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong>Oh Shit!!</strong> time format is incorrect!
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        </div>
     {% endif %}
        <div class="row mx-auto">
            <div class="col col-md-9 mx-auto">
                <div class="card">
                    <div class="card-header bg-secondary text-white text-center"><i class="fa fa-edit"></i> New Course
                    </div>
                    <div class="card-body">
                        <form id="make_course" action="/new-course/" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="title">Department</label>
                                <input type="text" name="department" class="form-control" title="" placeholder="Enter department" required>
                            </div>

                            <div class="form-group">
                                <label for="title">Name</label>
                                <input type="text" name="name" class="form-control" title="" placeholder="Enter name" required>
                            </div>

                            <div class="form-group">
                                <label for="title">Course number</label>
                                <input type="text" name="course_number" class="form-control" title="" placeholder="Enter course_number" required>
                            </div>

                            <div class="form-group">
                                <label for="title">Group number</label>
                                <input type="text" name="group_number" class="form-control" title="" placeholder="Enter group_number" required>
                            </div>

                            <div class="form-group">
                                <label for="title">Teacher</label>
                                <input type="text" name="teacher" class="form-control" title="" placeholder="Enter teacher" required>
                            </div>

                            <div class="form-group">
                                <label for="title">Start_time</label>
                                <input type="text" name="start_time" class="form-control" title="" placeholder="Enter start_time" required>
                            </div>

                            <div class="form-group">
                                <label for="title">End time</label>
                                <input type="text" name="end_time" class="form-control" title="" placeholder="Enter end_time" required>
                            </div>
                            <div class="form-group">
                                <label for="title">Exam Date</label>
                                <input type="text" name="exam_date" class="form-control" title="" placeholder="Enter Exam" required>
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlSelect1">First Dey</label>
                                <select class="form-control" id="exampleFormControlSelect1" name="first_day">
                                  <option value="0">Saturday</option>
                                  <option value="1">Sunday</option>
                                  <option value="2">Monday</option>
                                  <option value="3">Tuesday</option>
                                  <option value="4">Wednesday</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Second Dey</label>
                                <select class="form-control" id="exampleFormControlSelect1" name="second_day">
                                  <option value="0">Saturday</option>
                                  <option value="1">Sunday</option>
                                  <option value="2">Monday</option>
                                  <option value="3">Tuesday</option>
                                  <option value="4">Wednesday</option>
                                </select>
                            </div>
                            <div class="d-flex">
                            <button type="submit" class="btn btn-outline-success text-center mx-auto" style="width: 150px;">Create</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% else%}
        <div class="container mt-5">
        <div class="alert alert-warning text-center" role="alert">
            login first !!
        </div>
        </div>
    {% endif %}

    </body>
</html>
{% endblock %}